.sd.sheet.item {
  .header-details {
    gap: 0 1ch;
  }
  .item-name input {
    height: auto;
  }
  .summary, .weapon-attributes, .armor-attributes {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    border-top: none;

    label {
      margin: 0 0 2px 8px;
      font-size: 0.7em;
      display: block;
    }
    input[type="checkbox"] {
      height: var(--input-height);
    }
    &.notify {
      input {
        font-weight: bold;
        animation: 0.8s ease-in 1s infinite alternate notify;
      }
    }
  }
}
