@use "variables";

.sd.sheet.actor {
  --font-main-resources-size: var(--font-h4-size);
  --font-attribute-size: var(--font-h4-size);

  .header-details {
    gap: 0 1ch;
    flex-wrap: nowrap;
  }
  .charname input {
    height: 1.2em;
  }
  .summary {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: none;

    div {
      label {
        margin: 0 0 2px 8px;
        font-size: 0.7em;
        display: block;
      }
      &.notify {
        input {
          font-weight: bold;
          animation: 0.8s ease-in 1s infinite alternate notify;
        }
      }
    }
  }
  .main-resources {
    align-items: baseline;
    justify-items: stretch;
    gap: 4ch;
    font-size: var(--font-main-resources-size);
    .attribute-check {
      padding: 0 0.5rem;
    }
    label, input {
      text-align: center;
    }
  }
  .attribute-grid {
    display: grid;
    align-items: baseline;
    justify-items: center;
    gap: 0 1rch;
  }
  .attribute-value {
    font-size: var(--font-attribute-size);
    padding: 0.2rem;
    min-height: 2.5rem;

    input {
      text-align: center;
      min-width: calc(2ch + 1rem);
    }

    &.flexrow {
      flex-wrap: nowrap;
    }
  }
  .attribute-check {
    font-size: var(--font-attribute-size);
    padding: 0.2rem;
    text-align: center;
    margin: 0;
    justify-self: center;
  }
  .attribute-columns {
    gap: 2ch;
  }
  .tab.attributes {
    --font-saving-throw-size: inherit;

    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: stretch;
    .roll-abilities {
      font-size: 10rem;
      text-align: center;
    }
    .abilities {
      grid: 1fr / 2fr 2fr 1fr 1fr;
      .ability-name {
        padding: 0.1em;
        margin: 0;
        text-align: center;
      }
      .ability-mod {
        text-align: center;
        font-size: var(--font-attribute-size);
        min-width: 2ch;
        padding: 0;
        border: none;
      }
    }
    .saving-throws {
      grid: 1fr / 2fr 1fr 1fr;
      .attribute-label {
        font-size: var(--font-saving-throw-size);
      }
      .attribute-value {
        input {
          min-width: calc(2ch + 1rem);
        }
      }
    }
    .splendor {
      grid: 1fr / 1fr 1fr;
      input {
        min-width: calc(2ch + 1rem);
      }
      .attribute-value {
        flex-wrap: nowrap;
      }
    }
    .armor-class {
      display: grid;
      grid: 1fr / 1fr 1fr 1fr;

      .fa-shield {
        font-size: 2.5rem;
        text-align: center;
        position: relative;
        width: 2em;
        height: 2em;
        padding-top: 0.333em;
        filter: invert(1);
        &:before {
          font-size: 2em;
          position: absolute;
          inset: 0;
          z-index: -1;
          filter: invert(1);
        }
      }
    }
    .attack-bonus {
      grid: 1fr / 2fr 1fr 1fr;
    }
    .initiative {
      grid: 1fr / 2fr 1fr 1fr;
    }
    .survival {
      grid: 1fr / 1fr 1fr;
    }
    .filler {
      flex: 1 0 auto;
    }
  }

  .tab.inventory {
    --color-encumbrance-light: yellow;
    --color-encumbrance-heavy: red;
    .equipment {
      label {
        margin: 0 0 2px 8px;
        font-size: 0.7em;
        display: block;
      }
      .roll {
        font-size: 2em;
        padding-right: 0.4rem;
      }
    }
    .inventory {
      display: grid;
      grid: var(--font-h4-size) 1fr / 1fr 1fr;
      gap: 1rem 2rem;
      justify-items: stretch;
      .enc-light {
        color: var(--color-encumbrance-light);
      }
      .enc-heavy {
        color: var(--color-encumbrance-heavy);
      }
      h4 {
        margin: 0;
        text-align: center;
      }
      .item-list {
        display: grid;
        grid: 1fr / auto 1fr auto;
        gap: 1ch;
        align-items: center;
        justify-items: stretch;
        label {
          text-align: center;
          border-bottom: solid 1px;
          border-radius: 0;
          height: calc(1em + 0.5rem);
        }
      }
    }
  }

  .npc-attributes {
    gap: 1rem;

    .attacks {
      align-items: center;
    }

    .table-header {
      width: 100%;

      h4 {
        text-align: center;
      }

      a {
        margin-bottom: 1rem;
        font-size: var(--font-h4-size);
      }
    }

    .attacks-list {
      display: grid;
      grid: 1fr / 1fr 8fr 4fr 4fr 1fr;
      align-items: center;

      & > :nth-child(5n), & > :nth-child(5n+1) {
        justify-self: center;
        font-size: 1.5em;
      }

      label {
        margin: 0 0 2px 8px;
        font-size: 0.7em;
        display: block;
      }
    }
  }
}
