@use "variables";

.sd.sheet.actor {
  .header-details {
    gap: 0 1ch;
  }
  .charname input {
    height: auto;
  }
  .summary {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: none;

    div {
      label {
        margin: 0 0 2px 8px;
        font-size: 0.7em;
        display: block;
      }
      &.notify {
        input {
          font-weight: bold;
          animation: 0.8s ease-in 1s infinite alternate notify;
        }
      }
    }
  }
  .tab.attributes {
    --font-main-resources-size: var(--font-h4-size);
    --font-ability-size: var(--font-h4-size);
    --font-saving-throw-size: inherit;

    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: stretch;
    .character-roll {
      font-size: 10rem;
      text-align: center;
    }
    .attribute-group {
      align-items: stretch;
      gap: 0.8rem;
    }
    .attribute-grid {
      display: grid;
      align-items: baseline;
      justify-items: center;
      gap: 0 1rch;
    }
    .attribute-value {
      input {
        text-align: center;
      }
      padding: 0.2rem;
    }
    .attribute-check {
      padding: 0.2rem;
      text-align: center;
      margin: 0;
      justify-self: center;
    }
    .main-resources {
      align-items: baseline;
      justify-items: stretch;
      gap: 4ch;
      font-size: var(--font-main-resources-size);
      .attribute-check {
        padding: 0 0.5rem;
      }
      label, input {
        text-align: center;
      }
    }
    .attribute-columns {
      align-items: flex-start;
      gap: 2ch;
    }
    .abilities {
      grid: 1fr / 2fr 2fr 1fr 1fr;
      line-height: 2.5rem;
      .attribute-value {
        font-size: var(--font-ability-size);
        input {
          min-width: calc(2ch + 1rem);
        }
      }
      .ability-score {
        line-height: 2.5em;
      }
      .ability-name {
        padding: 0.1em;
        margin: 0;
        text-align: center;
      }
      .ability-mod {
        text-align: center;
        font-size: var(--font-ability-size);
        min-width: 2ch;
        padding: 0;
        border: none;
      }
      .attribute-check {
        font-size: var(--font-ability-size);
        min-width: calc(2ch + 1rem);
      }
    }
    .saving-throws {
      grid: 1fr / 2fr 1fr 1fr;
      line-height: 2.5rem;
      .attribute-label {
        font-size: var(--font-saving-throw-size);
      }
      .attribute-value {
        font-size: var(--font-saving-throw-size);
        input {
          min-width: calc(2ch + 1rem);
        }
      }
      .attribute-check {
        font-size: var(--font-saving-throw-size);
        min-width: calc(2ch + 1rem);
      }
    }
    .splendor {
      grid: 1fr / 1fr 1fr;
      line-height: 2.5rem;
      input {
        min-width: calc(2ch + 1rem);
      }
      .sep {
        font-size: 1.5em;
      }
      .attribute-value {
        flex-wrap: nowrap;
      }
    }
    .armor-class {
      display: grid;
      grid: 1fr / 1fr 1fr 1fr;
      padding-bottom: 0.8rem;
      .fa-shield {
        font-size: 2.5rem;
        text-align: center;
        position: relative;
        width: 2em;
        height: 2em;
        padding-top: 0.333em;
        filter: invert(1);
        &:before {
          font-size: 2em;
          position: absolute;
          inset: 0;
          z-index: -1;
          filter: invert(1);
        }
      }
    }
    .initiative {
      grid: 1fr / 2fr 1fr 1fr;
      line-height: 2.5rem;
      padding-bottom: 2.5rem;
    }
    .survival {
      grid: 1fr / 1fr 1fr;
      line-height: 2.5rem;
      .sep {
        font-size: 1.5em;
      }
    }
    .filler {
      flex: 1 0 auto;
    }
  }

  .tab.inventory {
    --color-encumbrance-light: yellow;
    --color-encumbrance-heavy: red;
    .equipment {
      label {
        margin: 0 0 2px 8px;
        font-size: 0.7em;
        display: block;
      }
    }
    .inventory {
      display: grid;
      grid: var(--font-h4-size) 1fr / 1fr 1fr;
      gap: 1rem 2rem;
      justify-items: stretch;
      .enc-light {
        color: var(--color-encumbrance-light);
      }
      .enc-heavy {
        color: var(--color-encumbrance-heavy);
      }
      h4 {
        margin: 0;
        text-align: center;
      }
      .item-list {
        display: grid;
        grid: 1fr / auto 1fr auto;
        gap: 1ch;
        align-items: center;
        justify-items: stretch;
        label {
          text-align: center;
          border-bottom: solid 1px;
          border-radius: 0;
        }
      }
    }
  }
}
