<section class="tab inventory flexcol {{tab.cssClass}}" data-group="primary" data-tab="inventory">
  <div class="equipment flexrow">
    <div class="slot flexrow" data-equipment-slot="weapon">
      <a class="roll fas fa-dice-d20 flex0" data-action="roll" data-type="weapon" data-tooltip="{{localize 'SD.roll.weapon.name'}}"></a>
      <div>
        {{formInput fields.equipment.fields.weapon
          value=system.equipment.weapon
          choices=system.inventory.equippable.weapon
        }}
        <label>{{localize fields.equipment.fields.weapon.label}}</label>
      </div>
    </div>
    <div class="slot" data-equipment-slot="armor">
      {{formInput fields.equipment.fields.armor
        value=system.equipment.armor
        choices=system.inventory.equippable.armor
      }}
      <label>{{localize fields.equipment.fields.armor.label}}</label>
    </div>
    <div class="slot" data-equipment-slot="shield">
      {{formInput fields.equipment.fields.shield
        value=system.equipment.shield
        choices=system.inventory.equippable.shield
      }}
      <label>{{localize fields.equipment.fields.shield.label}}</label>
    </div>
  </div>
  <div class="inventory">
    <h4 class="enc-{{system.inventory.prepared.encumbrance.current}}">{{localize fields.inventory.fields.prepared.label weight=system.inventory.prepared.weight max=system.inventory.prepared.encumbrance.no}}</h4>
    <h4 class="enc-{{system.inventory.packed.encumbrance.current}}">{{localize fields.inventory.fields.packed.label weight=system.inventory.packed.weight max=system.inventory.packed.encumbrance.no}}</h4>
    <div class="item-column prepared flexcol">
      <div class="item-list">
      {{#each system.inventory.prepared.items as |item|}}
        <a class="fas fa-sack" data-item-id="{{item.id}}" data-action="item" data-type="pack" data-tooltip="{{localize 'SD.inventory.pack'}}"></a>
        <div class="item flexrow draggable" data-item-id="{{item.id}}" data-action="item" data-type="sheet">
          <img class="flex0" src="{{item.img}}" height="25" width="25" />
          <label>{{item.name}}</label>
        </div>
        <a class="fas fa-xmark-large" data-item-id="{{item.id}}" data-action="item" data-type="trash" data-tooltip="{{localize 'Delete'}}"></a>
      {{/each}}
      </div>
      <div class="filler"></div>
    </div>
    <div class="item-column packed flexcol">
      <div class="item-list">
      {{#each system.inventory.packed.items as |item|}}
        <a class="fas fa-hand" data-item-id="{{item.id}}" data-action="item" data-type="prepare" data-tooltip="{{localize 'SD.inventory.prepare'}}"></a>
        <div class="item flexrow draggable" data-item-id="{{item.id}}" data-action="item" data-type="sheet">
          <img class="flex0" src="{{item.img}}" height="25" width="25" />
          <label>{{item.name}}</label>
        </div>
        <a class="fas fa-xmark-large" data-item-id="{{item.id}}" data-action="item" data-type="trash" data-tooltip="{{localize 'Delete'}}"></a>
      {{/each}}
      </div>
      <div class="filler"></div>
    </div>
  </div>
</section>
