<section class="tab attributes flexrow {{tab.cssClass}}" data-group="primary" data-tab="attributes">
    <div class="attribute-group flex1 flexcol">
        {{#if actor.is_new}}
        <a class="character-roll fas fa-dice-d6" data-action="roll" data-type="character"></a>
        {{else}}
        <div class="main-resources">
            <label class="fas fa-heart"></label>
            {{formInput fields.hp.fields.current value=system.hp.current localize=true type='number'}}
            <span class="sep">/</span>
            {{formInput fields.hp.fields.max value=system.hp.max localize=true}}
            <label class="fas fa-wand-magic-sparkles"></label>
            {{formInput fields.mana.fields.current value=system.mana.current localize=true type='number'}}
            <span class="sep">/</span>
            {{formInput fields.mana.fields.max value=system.mana.max localize=true}}
            <label class="fas fa-hands-praying"></label>
            {{formInput fields.faith.fields.current value=system.faith.current localize=true type='number'}}
            <span class="sep">/</span>
            {{formInput fields.faith.fields.max value=system.faith.max localize=true}}
        </div>
        <div class="abilities attribute-grid flex1">
             {{#each fields.abilities.fields}}
                 <h4 class="ability-name box-title" title="{{localize this.label}}">
                     <a>{{localize this.label}}</a>
                 </h4>
                 <div class="attribute-value">
                     {{formInput this value=(lookup ../system.abilities @key)}}
                 </div>
                 <input class="ability-mod" name="system.abilities_mod.{{@key}}" type="text" value="{{numberFormat (lookup ../system.abilities_mod @key) sign=true}}" size=2 disabled />
                 <a class="attribute-check fas fa-dice-d8" data-action="roll" data-type="ability" data-ability="{{@key}}"></a>
             {{/each}}
        </div>
        {{/if}}
    </div>
    <div class="attribute-group flex1 flexcol">
        <div class="saving-throws attribute-grid">
            {{#each config.saving_throws}}
              <label class="attribute-label">{{localize this.label}}</label>
              <div class="attribute-value">
                  <input name="system.saving_throws.{{@key}}" type="number" value="{{lookup ../system.saving_throws @key}}" disabled />
              </div>
              <a class="attribute-check fas fa-dice-d20" data-action="roll" data-type="saving-throw" data-st="{{@key}}"></a>
            {{/each}}
        </div>
        <div class="splendor attribute-grid">
            <label class="attribute-label">{{localize 'SD.splendor.name'}}</label>
            <div class="attribute-value">
                {{formInput fields.splendor.fields.value localize=true dataset=(make-object tooltip="SD.splendor.name")}}
            </div>
            <label class="attribute-label">{{localize 'SD.reroll.name'}}</label>
            <div class="attribute-value flexrow">
                {{formInput fields.splendor.fields.reroll_used localize=true dataset=(make-object tooltip="SD.reroll.used")}}
                <span class="sep flex0">/</span>
                <input name="system.splendor.reroll_max" type="number" value="{{system.splendor.reroll_max}}" data-tooltip="{{localize 'SD.reroll.max'}}" disabled />
            </div>
        </div>
    </div>
    {{!--
    <div class="attributes">
        {{#if fields.movement.land_only}}
        <div class="attribute movement flexrow" data-score="{{@key}}">
            <h4 class="movement-name box-title" title="{{ localize 'SD.movement.name' }}">
                <a>{{ localize "SD.movement.name" }}</a>
            </h4>
            <div class="movement-value">
                <input name="system.movement.land.value" type="text" value="{{system.movement.land.value}}" placeholder="{{fields.movement.fields.land.default}}" data-dtype="Number" />
            </div>
        </div>
        {{else}}
        <div class="movement-group flexcol">
        {{#each fields.movement.fields}}
            {{formGroup (lookup ../fields.movement.fields @key) localize=true}}
        {{/each}}
        </div>
        {{/if}}
    </div>
    --}}
    <div class="attribute-group flex1 flexcol">
        <div class="initiative flexrow">
            <label class="attribute-label">{{localize 'SD.initiative.name'}}</label>
            <div class="attribute-value">
                <input name="system.initiative" type="text" value="{{numberFormat system.initiative sign=true}}" disabled />
            </div>
            <a class="attribute-check fas fa-dice-d8" data-action="roll" data-type="initiative"></a>
        </div>
        <div class="armor-class flexrow">
            <div class="filler"></div>
            <i class="fas fa-shield">{{system.ac.total}}</i>
            <div class="filler"></div>
        </div>
        <div class="survival attribute-grid">
            <label class="attribute-label">{{localize 'SD.survival.thirst.name'}}</label>
            <div class="attribute-value flexrow">
                {{formInput fields.survival.fields.thirst.fields.current tooltip=(localize 'SD.survival.thirst.current')}}
                <span class="sep flex0">/</span>
                <input name="system.survival.thirst.max" type="number" value="{{system.survival.thirst.max}}" data-tooltip="{{localize 'SD.survival.thirst.max'}}" disabled />
            </div>
            <label class="attribute-label">{{localize 'SD.survival.hunger.name'}}</label>
            <div class="attribute-value flexrow">
                {{formInput fields.survival.fields.hunger.fields.current tooltip=(localize 'SD.survival.hunger.current')}}
                <span class="sep flex0">/</span>
                <input name="system.survival.hunger.max" type="number" value="{{system.survival.hunger.max}}" data-tooltip="{{localize 'SD.survival.hunger.max'}}" disabled />
            </div>
        </div>
    </div>
</section>
