<div class="sd dice-roll" data-action="expandRoll">
    <div class="dice-result">
        {{#if flavor.roll.target}}
        <div class="dice-{{flavor.roll.cssSuccess}}">
        {{#if flavor.roll.success}}
            {{localize 'SD.roll.success'}}
        {{else}}
            {{localize 'SD.roll.failure'}}
        {{/if}}
        </div>
        {{/if}}
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <div class="dice-total {{flavor.roll.cssSuccess}}">{{total}}</div>
    </div>
</div>
