<section class="armor-attributes">
  <div class="underlined-input flexrow">
    <div>
      {{formInput fields.category value=system.category localize=true}}
      <label>{{localize fields.category.label}}</label>
    </div>
    <div>
      {{#if editable}}
      {{formInput fields.enchantment value=system.enchantment localize=true}}
      {{else}}
      <input name="system.enchantment" type="text" value="{{numberFormat system.enchantment sign=true}}" size="2" disabled />
      {{/if}}
      <label>{{localize fields.enchantment.label}}</label>
    </div>
    <div class="flexrow">
      <div>
        {{formInput fields.ac.fields.value value=system.ac.value localize=true disabled=system.ac.is_standard}}
        <label>{{localize fields.ac.fields.value.label}}</label>
      </div>
      <div class="flex0">
        {{formInput fields.ac.fields.is_standard value=system.ac.is_standard localize=true dataset=(object tooltip=fields.ac.fields.is_standard.label)}}
      </div>
    </div>
  </div>
  <div class="penalties flexrow" data-standard-input>
    {{#each system.penalties.types as |penalty|}}
    <div class="flexrow">
        <div class="flex0">
          {{formInput (lookup ../fields.penalties.fields.types.fields @key) value=penalty localize=true disabled=(and (not penalty) (lte ../system.penalties.remaining 0))}}
        </div>
        <p data-tooltip="{{localize ../fields.penalties.label}}">{{localize (lookup (lookup ../fields.penalties.fields.types.fields @key) 'label')}}</p>
    </div>
    {{/each}}
  </div>
</section>
