<section class="header-details flexrow">
  {{log .}}
  <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" data-tooltip="{{item.name}}" alt="{{item.name}}" height="150" width="150"/>
  <div class="summary">
    <h1 class="item-name">
      <input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="{{localize 'SD.details.item_name'}}"
        data-dtype="String"
      />
    </h1>
    <div class="flexrow">
      <div>
        {{formInput fields.weight value=system.weight localize=true}}
        <label>{{localize fields.weight.label}}</label>
      </div>
      <div>
        {{formInput fields.price value=system.price localize=true}}
        <label>{{localize fields.price.label}}</label>
      </div>
    </div>
  </div>
</section>
